name: Build and Test

on: [push, pull_request]

jobs:
  test: # from the docs
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ['1.6.1']
        os: [ubuntu-latest, windows-latest]
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - run: pip install matplotlib
    - uses: julia-actions/setup-julia@v1
      with:
        version: ${{ matrix.julia-version }}
    - uses: julia-actions/julia-buildpkg@v1
      name: "Build pkg"
    - uses: julia-actions/julia-runtest@v1
      name: "Run tests"

  format:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ['1.5.3']
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v1.0.0
    - uses: actions/setup-python@v2
    - run: pip install matplotlib
    - uses: julia-actions/setup-julia@v1
      with:
        version: ${{ matrix.julia-version }}
    - name: "Julia format check"
      run: |
        julia  -e 'using Pkg; Pkg.add(Pkg.PackageSpec(name="JuliaFormatter"))'
        julia  -e 'using JuliaFormatter; format(".", verbose=true)'

        # Check diff, from the julia-format example:
        # https://github.com/julia-actions/julia-format/blob/master/workflows/format_check.yml
        julia -e '
        out = Cmd(`git diff --name-only`) |> read |> String
        if out == ""
            exit(0)
        else
            @error "Some files have not been formatted !!!"
            write(stdout, out)
            exit(1)
        end'

  docs:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ['1.5.3']
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v1.0.0
    - uses: actions/setup-python@v2
    - run: pip install matplotlib
    - uses: julia-actions/setup-julia@v1
      with:
        version: ${{ matrix.julia-version }}
    - name: "Julia docs check"
      run: |
        julia -e "using Pkg; Pkg.develop(Pkg.PackageSpec(path=pwd())); Pkg.instantiate();"
        julia --project=docs/ docs/make.jl

        # Check diff, from the julia-format example:
        # https://github.com/julia-actions/julia-format/blob/master/workflows/format_check.yml
        julia -e '
        out = Cmd(`git diff --name-only`) |> read |> String
        if out == ""
            exit(0)
        else
            @error "Some files have not been formatted !!!"
            write(stdout, out)
            exit(1)
        end'

  benchmark:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ['1.5.3']
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v1.0.0
    - uses: actions/setup-python@v2
    - run: pip install matplotlib
    - uses: julia-actions/setup-julia@v1
      with:
        version: ${{ matrix.julia-version }}
    - name: "Julia benchmark test"
      run: |
        julia -e "using Pkg; Pkg.develop(Pkg.PackageSpec(path=pwd())); Pkg.instantiate();"
        cd test
        julia benchmarks.jl
